a {
    color: #044389;
}
.navbar .navbar-brand,
h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

p, nav li {
    font-family: 'Raleway', sans-serif;
}

nav {
    text-align: center;
}

.jumbotron {
    text-align: center;
}

.title {
    color: #6d03cd;
}

.subtitle {
    color: #044389;
}

.jumbotron {
    padding: 0vh 0;
    text-align: center;
    width: 100vw;
    height: 94vh;
    background: #ece8ef;
}

.jumbotron h1 {
    display: inline-block;
    color: #6d03cd;
    font-family: 'Lobster', cursive;
    text-shadow: .03em .03em 0 hsla(212, 94%, 28%, 1);
}

.btn-primary.outline {
    border: 2px solid #6e75ab;
    color: #6e75ab;
}

.title-body {
    color: #6d03cd;
    padding: 0 15vw;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
    align-content: center;
}

.right {
    text-align: right;
}

.section {
    padding: 8vh 8vh 4vh 8vh;
}

.section p {
    padding-top: 3vh;
    font-size: 2.5vh;
    line-height: 1.5;
}

.section h2 {
    color: #044389;
}

.about p {
    font-size: 3vh;
}

.faq b{
    font-size: 3vh;
}

/*smartphone portrait*/

@media (min-width: 320px) {
    .title {
        font-size: 10vh;
    }
    .subtitle {
        font-size: 5vh;
    }
    .title-body {
        text-align: center;
        align-content: center;
        font-size: 3.5vh;
    }
    .title-body img {
        height: 20vh;
    }
}


/*smartphone landscape*/

@media (min-width: 481px) {
    .title {
        font-size: 15vh;
    }
    .subtitle {
        font-size: 5vh;
    }
    .title-body {
        align-content: center;
        font-size: 3vh;
        padding: 0 0;
        margin: none;
    }
    .title-body img {
        height: 20vh;
    }
}


/*tablet portrait*/

@media (min-width: 768px) {
    .title {
        font-size: 18vh;
    }
    .subtitle {
        font-size: 5vh;
    }
    .title-body {
        padding: 0vh 0vh;
        font-size: 4vh;
    }
    .title-body img {
        height: 20vh;
    }
}


/*desktop and laptop*/

@media (min-width: 1200px) {
    .title {
        font-size: 20vh;
    }
    .subtitle {
        font-size: 6vh;
    }
    .title-body {
        padding: 5vh 15vh;
        font-size: 5vh;
    }
    .title-body img {
        height: 30vh;
    }
}


/*wide screen*/

@media (min-width: 1600px) {
    .title {
        font-size: 18vh;
    }
}