a {
    color: #044389;
}
.sidenav p,
h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.btn-sample {
    color: #FFFFFF;
    background-color: #ff78de;
    border-color: #D4910C;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    color: #FFFFFF;
    background-color: #ff05b5;
    border-color: #D4910C;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
    background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
    background-color: #FFAD05;
    border-color: #D4910C;
}

.btn-sample .badge {
    color: #FFAD05;
    background-color: #FFFFFF;
}

s p{
    font-family: 'Raleway', sans-serif;
}

.title {
    color: #6d03cd;
}

.subtitle {
    color: #ece8ef;
    /* ece8ef #044389;*/
}

.jumbotron1 {
    text-align: center;
    width: 100vw;
    height: 93vh;
    /*background: #ece8ef;*/
    background-image: url("SisterHacks_background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.jumbotron1 h1 {
    color: #ece8ef;
    /*#6d03cd;*/
    font-family: 'Lobster', cursive;
    margin-top: 130px;
    text-shadow: .03em .03em 0 hsla(212, 94%, 28%, 1);
}

.jumbotron1 h2 {
  font-family:'Utopia',serif;
  padding-top: 10px;
}

.jumbotron1 h3 {
    padding: 5vh 0;
}

.jumbotron1 img {
    padding: 0 0;
}

.btn-primary.outline {
    border: 2px solid #6e75ab;
    color: #6e75ab;
}

.title-body {
    color: #6d03cd;
    margin: 0vw 10vw;
    height: 30vh;
}

.left {
    padding-top: 4vh;
    text-align: left;
}

.center {
    text-align: center;
    align-content: center;
}

.right {
    padding-top: 6vh;
    text-align: right;
}

.section {
    padding: 8vh 2vh 4vh 2vh;
}

.section p {
    padding-top: 3vh;
    font-size: 2.5vh;
    line-height: 1.5;
    color: #0c056d;
}

.section h2 {
    color: #f25d9c;
    /* 044389 ece8ef */
    text-align: center;
}

.about p {
    font-size: 3vh;
}

.faq p {
    font-size: 2vh;
}

.faq b {
    font-size: 3vh;
}

.faq {
    padding: 0 10vw;
}

.schedule {
    padding: 0vw 9vw;
    text-align: left;
}

.sponsor p {
    width: 50vw;
    text-align: left;
}

.about div, .faq div .schedule div, .sponsor div, .register div {
    text-align: center;
    background-color: #ece8ef;
    /*#a1baf3; #ba69ff; #b45cff*/
    background-clip: content-box;
    padding: 2vw 10vw;
}

.about-container, .faq-container, .schedule-container, .sponsor-container, .register-container, .team-container{
    width: 100vw;
    background-color: #ece8ef;
    /*#a1baf3;*/
}

.sponsor-container, .sponsor div {
    background-color: white;
    width: 100%;
    padding: none;
}
.sponsor-container img {
    padding: 1%;
}
.schedule-container h3,
.schedule-container h4,
.schedule-container h5,
.schedule-container h6 {
    font-family: sans-serif;
}


.col-sm-4 {
    padding: 0 5vw 0 0;
}

.profiles {
    background-color: white;
}

.team {
    padding: 2vw 10vw;
}

.team img {
    background-size: cover;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:100px;
    width:200px;
    height:200px;
}

/*smartphone portrait*/

@media (min-width: 320px) {
    .title {
        font-size: 10vh;
    }
    .subtitle {
        font-size: 5vh;
    }
    .title-body {
        text-align: center;
        align-content: center;
        font-size: 3vh;
    }
    .title-body img {
        height: 15vh;
        padding-bottom: 1vh;
    }
    .btn {
        font-size: 0.75em;
    }

}


/*smartphone landscape*/

@media (min-width: 481px) {
    .title {
        font-size: 15vh;
    }
    .subtitle {
        font-size: 5vh;
    }
    .title-body {
        font-size: 3vh;
    }
    .title-body img {
        height: 20vh;
    }
    .right {
        padding: 0 0 0 0;
    }
    .title-body img {
        height: 15vh;
    }
    .btn {
        font-size: 0.75em;
    }
}


/*tablet portrait*/

@media (min-width: 768px) {
    .title {
        font-size: 18vh;
    }
    .subtitle {
        font-size: 5vh;
    }
    .title-body {
        font-size: 3.5vh;
    }
    .title-body img {
        height: 15vh;
    }
    .right {
        padding: 0 0 0 0;
    }
    .btn {
        font-size: 0.5em;
    }
}


/*desktop and laptop*/

@media (min-width: 1200px) {
    .title {
        font-size: 20vh;
    }
    .subtitle {
        font-size: 5vh;
    }
    .title-body {
        padding: 0vh 0vh;
        font-size: 5vh;
    }
    .title-body img {
        height: 30vh;
    }
}


/*wide screen*/

@media (min-width: 1600px) {
    .jumbotron1 {
        height: 94vh;
    }
    .title {
        font-size: 18vh;
    }
    .title-body {
        margin: 1vw 1vw;
    }
    .section {
        padding: 0 0;
    }
    .schedule {
        padding: 0 0;
    }
    .about div, .faq div .schedule div, .sponsor div, .register div .team div{
        padding: 4vw 0vw;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #dfd4fc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a, p {
    padding: 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav p {
  font-size: 30px;
  color: #111
}

.sidenav a:hover, p:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu {
    transition: margin-left .5s;
    padding-left: 25px;
    padding-top: 5px;
    text-align: left;
}
